* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff);
}


.container {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.morning-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff);
}

.afternoon-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #FF4500, #FF8C00, transparent);
    opacity: 0;
}

.evening-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom,#0000FF, #0000FF, #87CEFA, transparent);
    opacity: 0;
}

.night-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #000066, #000080, #0000cc)!important;
    opacity: 0;
}

#cloud-container {
    position: absolute;
    top: 0;
    height: 100px;
    width: 100vw;
    overflow: hidden;
}

.cloud {
    z-index: 1;
    display: inline-block;
    position: absolute;
    top: 40px;
    width: 135px;
    border-radius: 30px;
    height: 50px;
    background-color: white;
    box-shadow: 5px 5px gainsboro;
}

.cloud .cloud-circle-first {
    background-color: white;
    position: absolute;
    top: -30px;
    left: 30px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.cloud .cloud-circle-second {
    margin-right: -10px;
    background-color: white;
    position: absolute;
    top: -10px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

#sea {
    z-index: 3;
    top: 60%;
    width: 100vw;
    height: 50vh;
    background: transparent;
    position: absolute;
}

#sea .wave-1 {
    position: absolute;
    width: 5000px;
    height: 5000px;
    top: 150px;
    left: -2000px;
    background-color: rgba(0, 190, 255, 0.4);
    border-radius: 44%;
    animation: rotate 10s linear infinite;

}

#sea .wave-2 {
    position: absolute;
    width: 5000px;
    height: 5000px;
    top: 150px;
    left: -2000px;
    background-color: rgba(0, 70, 110, 0.4);
    border-radius: 44%;
    animation: rotate 7s linear infinite;
}

#sea .wave-3 {
    position: absolute;
    width: 5000px;
    height: 5000px;
    top: 150px;
    left: -2000px;
    background-color: rgba(0, 90, 110, 0.4);
    border-radius: 44%;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

#sun-container {
    position: relative;
    height: 60%;
    width: 50%;
    margin: 0 auto;
    top: 0;
    left: 0;
}

#sun {
    cursor: move;
    top:0;
    left:0;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #f9cb5d;
    box-shadow: 0 0 250px 200px #f9cb5d;
}

.moon {
    background-color: transparent !important;
    box-shadow: -15px 15px 0 5px white !important ; 
}